// Dark Theme

// Color Theme
$bgDark: rgb(48, 48, 48); // Backgroud Color
$colorDark: rgb(158, 157, 157); // Text Color
$activeSide: rgb(67, 66, 93); // Active Background Color
$activeIcon: rgb(163, 160, 251); // Active Icon Color
$activeTxt: rgb(255, 255, 255); // Active Text Color
$pageBgDark: rgb(56, 56, 56);
// Font Size
$fs15: 13px;
$ics16: 18px;

// Font Type
$sourceSans: 'Source Sans Pro', sans-serif;
$robotSans: 'Roboto', sans-serif;